body {
    font-family: "Poppins", sans-serif;
    background-color: #f8ffeb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0;
}
.contenido-central {
    background-color: #ffffff;
    padding: 15px;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenido-central h1 {
    color: #556B2F;
}

.volver-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #556B2F;
    color: #FFFFFF;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.volver-btn:hover {
    background-color: #3c4c22;
    color: #FFFFFF;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #556b2fd4;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #556B2F;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e4e22;
}

.resultado {
    font-size: 1.2em;
    font-weight: 600;
    color: #3e4e22;
    padding: 10px;
    border: 1px dashed #aaa;
    border-radius: 5px;
}