body {
    font-family: "Poppins", sans-serif;
    background-color: #fbf8f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0;
}
.contenido-central {
    background-color: #ffffff;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenido-central h1 {
    color: #B87333;
}

.contenido-central h2 {
    color: #B87333;
}

.volver-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #B87333;
    color: #FFFFFF;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.volver-btn:hover {
    background-color: #503216;
    color: #FFFFFF;
}

button {
    background-color: #B87333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #503216;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.info-bloque {
    background-color: #f0e3d6; 
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #e79242;
}

.info-bloque h2 {
    color: #B87333; 
    margin-top: 0;
    border-bottom: 1px solid #e79242;
    padding-bottom: 8px;
}

.calculos-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.calculo {
    flex: 1;
    padding: 15px;
    border: 1px solid #e79242;
    border-radius: 8px;
    background-color: #f0e3d6;
    text-align: center;
}

.calculo button {
    width: 100%;
    margin-bottom: 10px;
    background-color: #B87333;
}

.calculo button:hover {
    background-color: #503216;
}
.resultado-accion {
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
}

label{
    color:#623b16;
    font-size: 1.3em;
    font-weight: 600;
}

p{
    color:#623b16;
    font-size: 1.1em;
    font-weight: 600;
}

.exito {
    color: #388e3c; 
    background-color: #e8f5e9;
}

.error {
    color: #d32f2f; 
    background-color: #ffebee;
}