@keyframes wave-pulse-intense {
    0% {
        background-position: 0% 0%;
    }
    
    25% {
        background-position: 100% 0%;
    }
    
    50% {
        background-position: 100% 100%; 
    }
    
    75% {
        background-position: 0% 100%; 
    }
    
    100% {
        background-position: 0% 0%; 
    }
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #334e68;
    line-height: 1.6;

    background: linear-gradient(-45deg, #c3a14a, #af8c4c, #795548, #5D4037); 
    background-size: 700% 700%;
    animation: wave-pulse-intense 25s cubic-bezier(0.42, 0, 0.58, 1) infinite; 
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(250, 237, 228, 0.95);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.menu-seccion {
    border-radius: 12px;
    padding: 0;
}

header {
    color: rgb(28, 13, 1);
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

header p {
    font-weight: 600;
    opacity: 0.9;
    font-size: 1.1em;
}

.grid-practicas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.451);
    transition: transform 0.3s, box-shadow 0.3s, border-left 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 8px solid #93460f82;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.5em;
    color: #102a43;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.card p {
    flex-grow: 1;
    margin-bottom: 20px;
    color: #2d1401;
    font-size: 0.95em;
    min-height: 80px;
}

.btn-ejercicio {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.1s;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-ejercicio:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.color-1 {
    --main-color: #556B2F; 
}

.color-1 h2 {
    color: var(--main-color);
}

.color-1 .btn-ejercicio {
    background-color: var(--main-color);
}

.color-1 .card {
    border-left-color: var(--main-color);
}

.color-2 {
    --main-color: #8B4513; 
}

.color-2 h2 {
    color: var(--main-color);
}

.color-2 .btn-ejercicio {
    background-color: var(--main-color);
}

.color-2 .card {
    border-left-color: var(--main-color);
}

.color-3 {
    --main-color: #008080; 
}

.color-3 h2 {
    color: var(--main-color);
}

.color-3 .btn-ejercicio {
    background-color: var(--main-color);
}

.color-3 .card {
    border-left-color: var(--main-color);
}

.color-4 {
    --main-color: #DAA520; 
}

.color-4 h2 {
    color: var(--main-color);
}

.color-4 .btn-ejercicio {
    background-color: var(--main-color);
}

.color-4 .card {
    border-left-color: var(--main-color);
}

.color-5 {
    --main-color: #B87333; 
}

.color-5 h2 {
    color: var(--main-color);
}

.color-5 .btn-ejercicio {
    background-color: var(--main-color);
}

.color-5 .card {
    border-left-color: var(--main-color);
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    .grid-practicas {
        grid-template-columns: 1fr;
    }
}